.active1 {
    cursor: pointer;
    transition: background 1s;
    background: linear-gradient(to bottom, #1F2167, #378AD4);
    color: white;
  }
  .active1:hover{
  background: linear-gradient(to bottom, #1F2167, #378AD4);
  color: white !important;
}
#buttoz:hover {
  color: black ;
  /* color: initial !important; */
}
#buttoz{
    text-decoration: none;
  }

  .btn.active1:hover {
    color: white !important;
  }
  