

@media (max-width: 768px) {
  #img123{
    width: 150px;
    height: 70px;
  }
  .banner-image1 {
    /* margin-top: 100px; */
    background-position: center;
    background-size: cover;
    /* height: 150px; */
    width: 1000px;
  }
}
.dropdown-toggle::after{
  display: none;
}
@media (max-width: 576px) {
  #img123{
    width: 130px;
    height: 60px;
  }
  .banner-image1 {
    /* margin-top: 100px; */
    background-position: center;
    background-size: cover;
    /* height: 150px; */
    width: 100%;
  }
}
